.navWrapper {
  display: flex;
}

.logo {
  font-size: 4rem;
}

.flexGrow {
  flex-grow: 1;
}

.menuWrapper {
  display: flex;
  list-style: none;
}

.menuWrapper > li {
  font-size: 2rem;
  margin: 1.5rem;
}
