.navWrapper {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
}

.logo {
  font-size: 4rem;
}

.flexGrow {
  flex-grow: 1;
}

.menuWrapper {
  display: flex;
  list-style: none;
}

.menuWrapper > li {
  margin: 1.5rem;
}

.menuWrapper > li > a {
  font-size: 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: aquamarine;
  transition: transform 0.4s ease;
  z-index: 1;
}
